###############################################################################
# FreeCAD
###############################################################################

# FreeCAD backup files
*.FCBak
*.FCStd~
*.FCStd.bak
*.FCStd#*

# FreeCAD autosave / temp
*.FCStd1
*.FCStd2
*.FCStd3
*.FCStd4
*.FCStd5
*.FCStd6
*.FCStd7
*.FCStd8
*.FCStd9

# FreeCAD lock / temp
*.lck
*.tmp

# FreeCAD thumbnails / cache
*.FCThumb
*.Thumbnail

###############################################################################
# STL / Export temp (optional)
###############################################################################

# Uncomment if you generate temp exports locally
# *.step~
# *.iges~
# *.brep~

###############################################################################
# macOS
###############################################################################

.DS_Store
.AppleDouble
.LSOverride
._*

# macOS Finder folders
.Spotlight-V100
.Trashes
.VolumeIcon.icns

###############################################################################
# General editor / OS junk
###############################################################################

*~
*.swp
*.swo
*.bak
*.orig

###############################################################################
# Python (if used for scripts later)
###############################################################################

__pycache__/
*.pyc
*.pyo

###############################################################################
# IDE / Tools
###############################################################################

.vscode/
.idea/

###############################################################################
# Logs
###############################################################################

*.log

###############################################################################
# Archives
###############################################################################

*.zip
*.7z
*.tar
*.tar.gz
